/* Основные стили страницы */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.container {
  width: 1920px;
}

.header {
  width: 1240px;
  margin: 0px auto;
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Стили для контейнера поиска */
.search-container {
  display: flex;
  align-items: center;
}

#search-input {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 8px;
}

.search-btn img {
  width: 20px;
  height: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 15px;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav a:hover {
  text-decoration: underline;
}

/* Блок фильтров */
.filter-button {
  display: flex; 
  align-items: center; 
  text-align: center;
  justify-content: center;
  padding: 10px 15px; 
  background-color: #ffffff;
  border: none; 
  border-radius: 4px; 
  font-weight: 600;
  margin-right: -680px;
  width: 300px;
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.filter-button:hover {
  background-color: #e0e0e0; /* Цвет фона при наведении */
}

.filter-icon {
  margin-right: 8px; /* Отступ справа от изображения */
  width: 20px; /* Ширина изображения */
  height: 20px; /* Высота изображения */
}


.filter {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  margin: 0px auto;
  padding: 10px;
  gap: 10px;
  border: 2px solid black;
}

.filter__tags-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;

  width: 1220px;
  border: 2px solid black;
}

.filter__brands-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  margin-top: 10px;
  width: 1220px;
  border: 2px solid black;
}

/* Скрываем стандартный чекбокс */
.checkbox-card {
  display: none; /* Скрываем стандартный чекбокс */
}

/* Стили для метки (label) */
.filter-label {
  position: relative; /* Для позиционирования псевдоэлемента */
  padding-left: 25px; /* Отступ для текста, чтобы он не налезал на псевдоэлемент */
  cursor: pointer; /* Курсор при наведении */
}

/* Стили для активного состояния */
.label-card.active {
  background-color: black; /* Черный фон при активном состоянии */
  color: white; /* Белый текст при активном состоянии */
}

/* Дополнительные стили для меток */
.label-card {
  font-size: 12px;
  padding: 5px; /* Отступы вокруг текста */
  border: 1px solid black; /* Рамка по умолчанию */
  border-radius: 4px; /* Закругление углов */
  transition: background-color 0.3s, color 0.3s; /* Плавный переход */
}


/* Блок для каталога и корзины */
.content {
  width: 1240px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.catalog {
  width: 868px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.show-more-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  width: 500px;
  background-color: #ffffff;
  color: black;
  border: 3px solid;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.show-more-button:hover {
  background-color: #c3c3c3;
}

/* Стили для футера */
.footer {
  background-color: #000000;
  max-width: 1240px;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  margin: 0 auto;
}

.footer p {
  margin: 0;
}

.footer a {
  color: #fff;
  text-decoration: underline;
}
