/* Стили для корзины */
.cart {
  width: calc(1240px - 868px - 10px);
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0; /* Чтобы корзина оставалась на странице, при прокрутке она фиксируется сверху */
  height: calc(100vh - 60px); /* Высота корзины 100vh минус 60px */
  overflow-y: auto; /* Добавляем прокрутку, если содержимое корзины превышает высоту */
}

.cart-title {
  background-color: rgb(0, 0, 0);
  padding: 10px;
}

.cart h2 {
  color: white;
}

.product-card {
  margin-top: 5px;
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 2px solid #000000;
  width: calc(1240px - 868px - 10px);
  position: relative;
}

.product-card img {
  width: 48px;
  height: 48px;
  margin-right: 15px;
}

.product-info h3 {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

.product-info .price {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-weight: bold;
  margin: 5px 0 0;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  font-weight: 900;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
}

.total-checkout {
  text-align: center;
  margin-top: 20px;
}

.total {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin-bottom: 15px;
}

.checkout-btn {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 10px 40px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.checkout-btn:hover {
  opacity: 0.9;
}

.prod-bascket {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  background-color: #fff;
}

.product-cart-bascket {
  overflow-y: auto; 
  overflow-x: hidden; 
  max-height: 500px;
}

/* Стили для тонкого скролла */
.product-cart-bascket::-webkit-scrollbar {
  width: 3px; 
  height: 0; 
}

.product-cart-bascket::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
}

.product-cart-bascket::-webkit-scrollbar-track {
  background-color: transparent; 
}
